body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    text-align: center;
    color: #333;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #f5f5f5;
    margin-left: 20px;
    margin-right: 20px;
}
nav a{
    text-decoration: none;
    color: black;
    padding-left: 20px;
}
.top{
    padding: 50px 20px;
    background: #eee;
}
.profile-pic{
    width: 150px;
    height: 160px;
    border-radius: 50%;
}
h2{
    font-weight: lighter;
    font-size: 20px;
}
.skills img {
    margin: 20px;
    width: 80px;
}
button{
    background: white;
    color: rgb(0, 0, 0);
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    letter-spacing: 0.5px;
    transition: all 0.3s ease-in-out;
    margin-left:10px
}
.services {
    padding: 50px 20px;
}
.service-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.service {
    width: 250px;
    margin: 20px;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}
.skills {
    padding: 30px 20px;
}
.skill-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skill {
    width: 250px;
    margin: 20px;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}
.box{
    text-align: left;
}
.contact {
    padding: 50px 20px;
    background: #ddd;
}
footer {
    padding: 20px;
    background: #ffffff;
    color: #1f1f1f;
}
.join{
    width: 70px;
}
